<!DOCTYPE html>
<html lang="ja">
<head>
<title> teacher</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid ">
   <div class="navbar-header">
   <a href="/teacher" class="navbar-brand" >Teacher Place</a>
   </div>
   <ul class="nav navbar-nav">
  <li> <a href="/"> addUser</a></li>
  <li> <a href="/now"> My Place</a></li>
  </ul>
</nav>
</body>
</html>
